*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(129, 168, 222);
}
.navbar-nav .nav-link {
    font-weight: bold; 
    font-size: large;
}
.carousel-inner {
    max-height: 500px; /* Set your preferred max height */
}

.carousel-item img {
    object-fit: cover;
    max-height: 10%;
}
.black{
    background-color: rgb(41, 39, 39);
}